@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Theming */
.dark {
	--color: #ffffff;
	--primary: #50514f;
	--secondary: #2c14a3;
	--accent: yellow;
	--gradient: linear-gradient(45deg, #2c14a3, rgba(0, 0, 0, 0));
	--text-bg: #2c14a390;
	--shadow: 0 0 5rem 5rem #2c14a390;
}

.light {
	--color: #000000;
	--primary: #ffffff;
	--secondary: #5bc0be;
	--accent: #ff6392;
	--gradient: linear-gradient(45deg, #5bc0be, rgba(0, 0, 0, 0));
	--text-bg: #5bc0be90;
	--shadow: 0 0 5rem 5rem #5bc0be90;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	transition: background 0.5s ease-in-out, color 0.3s ease;
}

body {
	background-color: var(--primary);
	color: var(--color);
}

