@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Theming */
.dark {
	--color: #ffffff;
	--primary: #50514f;
	--secondary: #2c14a3;
	--accent: yellow;
	--gradient: linear-gradient(45deg, #2c14a3, rgba(0, 0, 0, 0));
	--text-bg: #2c14a390;
	--shadow: 0 0 5rem 5rem #2c14a390;
}

.light {
	--color: #000000;
	--primary: #ffffff;
	--secondary: #5bc0be;
	--accent: #ff6392;
	--gradient: linear-gradient(45deg, #5bc0be, rgba(0, 0, 0, 0));
	--text-bg: #5bc0be90;
	--shadow: 0 0 5rem 5rem #5bc0be90;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	transition: background 0.5s ease-in-out, color 0.3s ease;
}

body {
	background-color: var(--primary);
	color: var(--color);
}

/* top header */

.header {
	background-color: var(--secondary);
	padding: 1rem;
	color: var(--color);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header > .flex {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header > .flex > div {
	margin: 0 1rem;
}

.header > .flex > div > a {
	color: var(--accent);
	text-decoration: none;
	font-size: 0.8rem;
}

#time {
	color: var(--accent);
}

/* Navigation bar */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

nav > .nav_list {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--secondary);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	transition: 0.2s ease-in-out;
	transform: translateX(100%);
}

nav > .nav_list > li {
	padding: 1rem;
}

nav > .nav_list > li > a {
	color: var(--color);
	text-decoration: none;
}

nav > .nav_list_active {
	transform: translateX(0%);
}

nav > .nav_list > .close {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.nav_toggle {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	padding: 0.5rem;
}

svg path {
	fill: var(--color);
}

nav > .nav_toggle:active {
	background-color: var(--secondary);
}

.nav_dropdown {
	position: relative;
	color: var(--color);
}

.nav_dropdown:focus-within ul {
	opacity: 1;
}

.nav_dropdown > ul {
	opacity: 0;
	transition: all 0.5s ease-in-out;

	position: absolute;
	top: 100%;
	left: -40%;

	display: flex;
	padding: 1rem;
	border-radius: 0 0 0.5rem 0.5rem;
	background-color: var(--primary);
}

.nav_dropdown > ul > li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	cursor: pointer;
}

.nav_dropdown > ul > li:before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}

#light:before {
	border: 2px solid black;
	background-color: white;
}

#dark:before {
	border: 2px solid white;
	background-color: black;
}

/* The main section */
main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding-bottom: 2rem;
}

/* Home image gallery */
.image_gallery {
	grid-column: 1/13;
	display: flex;
	position: relative;
	width: 100%;
	height: 25rem;
	z-index: 1;
}

.buttons_container {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 25rem;
	height: 20rem;
	padding: 1rem;
}

.button {
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	padding: 0.5rem 0;
	background-color: var(--primary);
}

.button:hover {
	padding: 0.5rem;
}

.image_container {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s ease-in;
}

.image_container_content {
	width: fit-content;
	position: relative;
	padding: 1rem;
}

.content {
	position: relative;
	width: fit-content;
	overflow: hidden;
}

.image_desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	font-size: 1.5rem;

	display: flex;
	justify-content: start;
	align-items: flex-end;

}

.image_desc > .text {
	width: 50%;
	height: 100%;
	padding: 2rem;
	display: flex;
	justify-content: start;
	align-items: flex-end;
	border: none;
	border-top-right-radius: 100%;
	background-color: var(--text-bg);
	box-shadow: var(--shadow);
}

.image {
	width: 100%;
	overflow: hidden;
	max-width: 25rem;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image > img {
	width: 100%;
	object-fit: fill;
}

.image_inactive {
	opacity: 0;
}

/* Notifications section */
.notifications {
	grid-column: 1/13;
	padding: 0 2rem;
}

/* News Section */
.news {
	grid-column: 1/13;
	padding: 0 2rem;
}

/* Syllabi Details */
.syllabusdetails {
	grid-column: 1/13;
	padding: 0 2rem;
}

/* For all main sections */
.section_headers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--color);
	padding: 1rem 0;
	margin-bottom: 1rem;
	cursor: pointer;
}

.section_toggles > div {
	width: 1rem;
	height: 1rem;
}

.section_list {
	transition: all 0.5s ease-in-out;
	list-style-type: disc;
}

.section_inactive {
	height: 0;
	overflow: hidden;
}

/* Footer */
.footer {
	background-color: var(--secondary);
	padding: 2rem;
	color: var(--color);
	text-align: center;
}

/* Developer */
.developer {
	padding: 1rem;
	text-align: right;
	background-color: black;
	color: white;
}

.developer > a {
	color: white;
}

.developer > a > span {
	text-decoration: underline;
}

/* Extras */
.theme_switcher {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
.icon {
	width: 3rem;
	height: 3rem;
}
ul {
	list-style-type: none;
}
.sm_hidden {
	display: none;
}
.md_hidden {
	display: initial;
}
.hidden {
	display: none;
}
.sticky {
	position: fixed;
	top: 1rem;
	z-index: 1;
	width: 100%;
}

/* Media queries */
@media only screen and (min-width: 600px) {
	.buttons {
		max-width: 35rem;
	}
	.image {
		max-width: 35rem;
	}
	.image_desc {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.header {
		font-weight: 500;
	}
	.header > .flex {
		flex-direction: row;
		align-items: center;
	}
	nav > .nav_list {
		flex-direction: row;
		justify-content: flex-end;
		position: inherit;
		transform: translateX(0%);
		background: none;
	}

	.buttons {
		max-width: 50rem;
	}
	.image {
		max-width: 50rem;
	}

	.image_desc {
		font-size: 2.5rem;
	}

	/* Extras */
	.sm_hidden {
		display: initial;
	}
	.md_hidden {
		display: none !important;
	}
}

@media only screen and (min-width: 992px) {
	/* Gallery */
	.image_gallery {
		grid-column: 1/9;
	}

	/* Notifications section */
	.notifications {
		grid-column: 9/13;
	}

	.news, .syllabusdetails {
		grid-column: span 6;
	}
}

@media only screen and (min-width: 1200px) {
}
